@import '@fontsource-variable/montserrat';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /**
     * Colors.
     */
    --black: 0 0% 18%; /* #2e2e2e */
    --white: 0 0% 100%; /* #ffffff */

    --blue-100: 215 97% 95%; /* #e6f0ff */
    --blue-200: 215 97% 85%; /* #b4d3fe */
    --blue-300: 215 97% 75%; /* #81b5fd */
    --blue-400: 215 97% 65%; /* #4f97fc */
    --blue-500: 215 97% 41%; /* #0358ce */
    --blue-600: 215 97% 35%; /* #034bb0 */
    --blue-700: 215 97% 29%; /* #023e92 */
    --blue-800: 215 97% 23%; /* #023174 */
    --blue-900: 215 97% 17%; /* #012455 */

    --gray-100: 0 0% 97%; /* #f7f7f7 */
    --gray-200: 0 0% 90%; /* #e6e6e6 */
    --gray-300: 0 0% 83%; /* #d4d4d4 */
    --gray-400: 0 0% 75%; /* #bfbfbf */
    --gray-500: 0 0% 66%; /* #a8a8a8 */
    --gray-600: 0 0% 53%; /* #878787 */
    --gray-700: 0 0% 40%; /* #666666 */
    --gray-800: 0 0% 27%; /* #454545 */
    --gray-900: 0 0% 13%; /* #212121 */

    --error-100: 3 90% 96%; /* #feedec */
    --error-200: 4 89% 75%; /* #f88e87 */
    --error-500: 4 90% 58%; /* #f44034 */

    --primary-100: 267 39% 95%; /* #f2edf7 */
    --primary-200: 268 42% 73%; /* #b89dd7 */
    --primary-500: 269 41% 55%; /* #8b5dbb */

    --secondary-100: 240 17% 94%; /* #ededf2 */
    --secondary-200: 238 17% 66%; /* #9a9bb7 */
    --secondary-500: 239 21% 44%; /* #595988 */

    --success-100: 120 38% 95%; /* #edf7ed */
    --success-200: 122 38% 70%; /* #95d097 */
    --success-500: 122 39% 49%; /* #4cae4f */

    --warning-100: 46 100% 95%; /* #fff9e5 */
    --warning-200: 45 100% 71%; /* #ffda6b */
    --warning-500: 45 100% 51%; /* #ffc105 */

    /**
     * Generals.
     */
    --border-radius: 0.5rem;

    /**
     * Typography.
     */
    --font-family: 'Montserrat Variable', sans-serif;
    --font-size: 16px;
  }
}

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border m-0 p-0;
  }

  html {
    @apply font-sans scroll-smooth text-black;
    font-size: var(--font-size);
  }

  body {
    @apply bg-background flex flex-col m-0 min-h-screen;
  }
}
