@import '@fontsource-variable/montserrat';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /**
     * Breakpoints.
     */
    --breakpoint-2xl: 1536px;
    --breakpoint-lg: 992px;
    --breakpoint-md: 768px;
    --breakpoint-sm: 576px;
    --breakpoint-xl: 1200px;

    /**
     * Colors.
     */
    --error-100: #feeceb;
    --error-200: #f88e86;
    --error-500: #f44336;

    --neutral-black: #2f2f2f;
    --neutral-white: #ffffff;

    --primary-100: #f3eff8;
    --primary-200: #b99ed7;
    --primary-500: #8b5dbc;

    --secondary-100: #eeeef3;
    --secondary-200: #9b9cb8;
    --secondary-500: #595a89;

    --success-100: #edf7ed;
    --success-200: #94cf96;
    --success-500: #4caf50;

    --tertiary-100: #fafafa;
    --tertiary-200: #eaeaea;
    --tertiary-500: #cfcdce;

    --warning-100: #fff9e6;
    --warning-200: #ffda6a;
    --warning-500: #ffc107;

    /**
     * Generals.
     */
    --background: var(--primary-100);
    --border-radius: 0.5rem;

    /**
     * Typography.
     */
    --font-family: 'Montserrat Variable', sans-serif;
    --font-size: 16px;
  }
}

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border m-0 p-0;
  }

  html {
    @apply font-sans scroll-smooth text-neutral-black;
    font-size: var(--font-size);
  }

  body {
    @apply bg-background flex flex-col m-0 min-h-screen;
  }
}
